
name: publish-docfx

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - 'domains/**'
      - 'docfx_project/**'
      - 'docfx.json'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Install docfx tool
        run: dotnet tool install -g docfx
      - name: Generate TOCs
        run: python docfx_project/make_toc.py
      - name: Build site
        run: docfx build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
